// ╭───┬───┬───┬───┬───┬───╮   ╭───┬───┬───┬───┬───┬───╮
// | 0 | 1 | 2 | 3 | 4 | 5 |   |   |   |   |   |   |   |
// ├───┼───┼───┼───┼───┤───┤   ├───┼───┼───┼───┼───┤───┤
// |   |   |   |   |   |   |   |   |   |   |   |   |   |
// ├───┼───┼───┼───┼───┤───┤   ├───┼───┼───┼───┼───┤───┤
// |   |   |   |   |   |   |   |   |   |   |   |   |   |
// ╰───┴───┴───┼───┼───┤───┤   ├───┼───┼───┼───┴───┴───╯
//             |   |   |   |   |   |   |   |
//             ╰───┴───┴───╯   ╰───┴───┴───╯

combo_esc {
        timeout-ms = <50>;
        key-positions = <0 1>;
        bindings = <&kp ESC>;
};