name: Build ZMK firmware
on: 
  push:
    paths-ignore:
      - '.github/workflows/**.yml' # Ignore changes to all YAML files in the workflows directory
  pull_request: 
  workflow_dispatch: 

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
